@import "./mixins";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  @include siteMain;
  color: map-get($colors, bodytext);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: clamp(0.85rem, 1vw, 1rem);
}

.link {
  background: transparent;
  padding: 10px 25px;
  border-radius: 25px;
  @include transition(all 0.5s ease);
  display: inline-block;
}

.green-btn {
  @extend .link;
  background-color: map-get($colors, primary);
  color: map-get($colors, white);

  &:hover {
    background-color: darken(map-get($colors, primary), 20%);
    color: map-get($colors, white);
  }
}

.blue-btn {
  @extend .link;
  background-color: map-get($colors, secondary);
  color: map-get($colors, white);

  &:hover {
    background-color: darken(map-get($colors, secondary), 10%);
  }
}

//header styles
header {
  .navbar-brand {
    margin: 0;
    padding: 0;
    img {
      width: 250px;
    }
  }
  .mainmenu {
    .nav-item {
      .nav-link {
        font-weight: map-get($font-weights, semibold);
        padding: 0.5rem 1rem;
        cursor: pointer;
        color: map-get($colors, bodytext);
        text-transform: uppercase;
        border-radius: 5px;
        text-decoration: none;

        &:hover {
          background: map-get($colors, primary);
          color: map-get($colors, white);
        }
      }
      .active {
        padding: 0.5rem 1rem;
        display: block;
        text-transform: uppercase;
        font-weight: map-get($font-weights, semibold);
        background: map-get($colors, primary);
        color: map-get($colors, white);
        border-radius: 5px;
        text-decoration: none;
      }
    }
    .dropdown-menu {
      background: map-get($colors, secondary);
      border-radius: 0;
      min-width: 225px;
      .dropdown-item {
        cursor: pointer;
        padding: 10px 15px;
        font-size: $fsize - 1;
        color: map-get($colors, white);

        &:hover {
          color: map-get($colors, secondary);
        }
      }
    }
  }
  .rightnav {
    .nav-item {
      .nav-link {
        position: relative;
        padding: 0.5rem 0.7rem;
        cursor: pointer;
        color: map-get($colors, bodytext);
      }
    }
    .icomoon {
      font-size: $fsize + 7;
    }
    .cart-number {
      background: map-get($colors, primary);
      width: 20px;
      height: 20px;
      display: inline-block;
      font-size: $fsize - 4;
      text-align: center;
      line-height: 21px;
      color: map-get($colors, white);
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 15px;
    }
  }
}

.offcanvas-search {
  height: 100vh !important;

  .search-section {
    background: #e9f0fd;
    padding: 15px 25px;
    border-radius: 50px;
    @include box-shadow(1px, 1px, 5px, map-get($colors, lightsecondary));

    input[type="text"] {
      background: none;
      border: none;
      width: 80%;
      margin-left: 20px;

      &:focus {
        outline: none;
      }
    }
  }
  .categories {
    a {
      text-decoration: underline !important;
      cursor: pointer;
      color: map-get($colors, black);
      display: inline-block;
      margin-right: 20px;
      font-size: $fsize - 1;
    }
  }
}

.HomeSwiper {
  .slider-article {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 25%;
    transform: translateY(-30%);
    .slidertitle {
      font-size: clamp(1.3rem, 2.5vw, 2.5rem);
      font-weight: map-get($font-weights, light);
      span {
        font-weight: map-get($font-weights, bold);
        color: map-get($colors, secondary);
      }
    }
  }
}
